@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");




.AppTitle {


    width: 100%;
    height: vh;

    margin-top: 2vh;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 3.2vh;
    line-height: 35px;
    text-align: center;

    color: #FFFFFF;
}


.ShapeListContainer {

    position: relative;
    margin: 10px;
    height: 70vh;
    width: 90%;

    background: #2196F3;

    overflow: hidden;
}



.ShapeTitle {

    position: absolute;
    top: 2vh;
    left: 2vh;

    font-size: 2.5vh;

}

.HideForAnimation {
    position: absolute;
    top: 1.35vh;
    right:0px;


    width: 6vh;
    height: 5vh;

    background: #2196F3;
    z-index: 2;
}


.NewShapesContainer-enter {
    transform: translateX(0);
}

.NewShapesContainer-enter-active {
    transform: translateX(-120%);
    transition: transform 300ms;
}

.NewShapesContainer-enter-done {
    transform: translateX(-120%);
}

.NewShapesContainer-exit {
    transform: translateX(-120%);
}

.NewShapesContainer-exit-active {
    transform: translateX(0);
    transition: transform 300ms;
}



.NewShapesContainer {

    position: absolute;
    top: 1.35vh;
    left: 36vh;


    width: 10vh;
    height: 4.2vh;
    
    background: #64B5F6;
    border-radius: 22px;

    display:flex;
    justify-content: center;
    align-items: center;
    z-index: 1;

}





.NewCircleIcon {
    width: 3vh;
    height: 3vh;
    margin: 0.5vh;
    border: 0.5vh solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 18px;
}

.NewRectangleIcon {
    width: 3vh;
    height: 3vh;
    margin: 0.5vh;

    border: 0.5vh solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 4px;
}




.PlusSign {
    position: absolute;
    top: 1.5vh;
    left: 35vh;


    height: 3.5vh;
    width: 3.5vh;

    z-index: 3;
    
}

.PlusSign-enter{
    transform: rotate(0deg);
}

.PlusSign-enter-active{
    transform: rotate(-45deg);
    transition: transform 300ms;
}

.PlusSign-enter-done{
    transform: rotate(-45deg);
}

.PlusSign-exit{
    transform: rotate(-45deg);
}

.PlusSign-exit-active{
    transform: rotate(0deg);
    transition: transform 300ms;
}



.ShapeList {
    position: absolute;
    top: 6.5vh;

    height: 63.47vh;

    margin-right: 5px;
    display: flex;
    flex-direction: column;

    align-items: center;

    overflow-y: auto;
    overflow-x:hidden;

}


.ShapeList::-webkit-scrollbar {
    width: 0.9vh;
}



.ShapeList::-webkit-scrollbar-thumb {
    background-color: #ffffffe8;    /* color of the scroll thumb */
    border-radius: 20px; 
}






.RelaxButton {
    margin-top: 20px;

    width: 15vh;
    height: 6vh;

    background: #1E88E5;
    border-radius: 9px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 2.35vh;

}



.InterpolSetting {

    margin-top: 2vh;

    display: flex;
    align-items: center;
}