
.SettingsItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 13.5vh;

    margin-left: 1.75vh;


    
}

  
input[type="text"] {
    width: 4.7vh;
    height: 1.65vh;

    border:0px;
    border-radius: 2px;
    text-align: right;
}

input[type="text"]:focus {

    border:0px;
    outline-color: #90CAF9;

}