
.SettingsItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 140px;

    margin-left: 13px;


    
}


input{
    position: absolute;
    opacity: 0;
  }


.CheckboxTrick {
    opacity: 1;

    width:16px;
    height:16px;
    background: white;
    border-radius: 2px;
}

.CheckboxTrickInside {
    opacity: 1;

    width:16px;
    height:16px;
    background: green;
    border-radius: 2px;
}

.CheckboxTrickInside-enter {
    transform: scale(0);
}

.CheckboxTrickInside-enter-active {
    transform: scale(1);
    transition: transform 200ms;
}

.CheckboxTrickInside-exit {
    transform: scale(1);
    
  }
  
.CheckboxTrickInside-exit-active {
    transform: scale(0);
    transition: transform 200ms;
}
  
  
  
